.app {
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 50px;
}

.control-panel {
    flex: 0.5;
}

.elevators-container {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
    overflow: auto;
    height: 90vh;
    background-color: lightgrey;
    border: 1px dashed black;
    padding: 48px 48px 48px 48px;
}